<div class="wrapper wrapper-full-page">

  <div class="page-header login-page header-filter" filter-color="black"
    style="background-image: url('../../assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <div class="card card-login card-hidden">
          <div class="card-header card-header-rose text-center">
            <h4 class="card-title">Login</h4>
            <div class="social-line">
              <a href="" class="btn btn-just-icon btn-link btn-white">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="" class="btn btn-just-icon btn-link btn-white">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="" class="btn btn-just-icon btn-link btn-white">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="card-body ">
              <p class="card-description text-center">Or Be Classical</p>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email...">
                </div>
                <div *ngIf="form.email.invalid && form.email.errors && form.email.touched" class="ml-5 invalid">
                  <div *ngIf="form.email.errors.required">Email is required</div>
                  <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" class="form-control" name="password" formControlName="password"
                    placeholder="Password...">
                </div>
                <div *ngIf="form.password.invalid && form.password.errors && form.password.touched"
                  class="ml-5 invalid">
                  <div *ngIf="form.password.errors.required">Password is required</div>
                </div>
              </span>
            </div>
            <div class="card-footer justify-content-center">
              <input class="btn btn-rose btn-link btn-lg" type="submit" [disabled]="loginForm.invalid" value="Lets Go">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>