<div class="container" style="margin-top:100px;">
    <form [formGroup]="form" >
      <angular-editor id="editor1" formControlName="formModel" [config]="editorConfig"></angular-editor>
    </form>
    <button class="btn btn-primary" (click)="onSubmit()">Save</button>
</div>
<div class="container" style="margin-top:100px;">
  <h1>Notes</h1>
  <div *ngIf="notes.length > 0">
    <div *ngFor="let note of notes; let i = index;">
        <span *ngIf="timestamp.length > 0">{{timestamp[i] | date :'mediumTime' }}</span>
      <span [innerHtml]="note | style"></span>
    </div>
  </div>
</div>